header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 20px 30px 20px 30px;
    align-items: center;
    background-color: #FF00D0;
}
header .container img{
    width: 50px;
}
.logo{
    width: 100px;
}
.left-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.right-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}
input{
    width: 690px;
    height: 50px;
    border-radius: 20px;
    border: none;
    padding: 20px;
    margin-left: 40px;
}
